# ===== Ignore build/system folders =====
Debug/
RemoteSystemsTempFiles/
targetConfigs/
dvt/
.launches/
tm4c123gh6pm.cmd
main.c
tm4c123gh6pm_startup_ccs.c
cyBot_Scan.h
cyBot_uart.h
open_interface.c
open_interface.h
# ===== Ignore libraries =====
*.lib
#Ignore some header files
lcd.c
lcd.h
REF_tm4c123gh6pm.h
# IDE / system files
.metadata/
.settings/
.project
.cproject
.ccsproject

# VSCode
.vscode/

# Browser / cache junk
.jxbrowser.userdata/

# Logs & temp
*.log
*.lock
*.tmp

# OS files
.DS_Store
Thumbs.db
